//default
$padd_def: 10px;
$bor_def: #dadada;
$clr_def: #ffb408;


//nav
$nav_font: #000;
//$nav_bg_hover: #ff9459;
//$nav_bg_hover: rgb(231, 75, 37);
$nav_bg_hover: #f60;
$nav_bg: transparant;
$lh_nav: 60px;
$nav_tran: .3s;

//main
$bg_forms: #ff9459;

$bb_content: 1px solid #ccc;




